node_modules/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
*.keystore
*.jks
*.p12
*.mobileprovision
android/keystore.properties
android/app/google-services.json
testers.csv
